replicaCount: 1

image:
  repository: samandar278/streetfood-bot
  tag: latest
  pullPolicy: Always

serviceAccount:
  create: true
  automount: true
  annotations: {}
  name: ""

resources:
  limits:
    cpu: 200m
    memory: 256Mi
  requests:
    cpu: 100m
    memory: 128Mi

autoscaling:
  enabled: false

nodeSelector: {}
tolerations: []
affinity: {}

metrics:
  port: 8000

podAnnotations: {}
podLabels: {}

podSecurityContext: {}
securityContext: {}

volumes: []
volumeMounts: []

service:
  type: ClusterIP
  port: 80

pod:
  hostNetwork: true
  dnsPolicy: ClusterFirstWithHostNet
