# amount of replica more than 1 will brin 409 error for telegram bots
replicaCount: 1

# Container option and values
image:
  repository: samandar278/streetfood-bot
  tag: latest
  pullPolicy: Always

# Telegram token (заполни в Argo CD или здесь)
bot:
  telegramToken: "8464227500:AAF0qcol9pzCOSG4VJlz0KsZcdgVh5IeL6g"
  googleCredentials: ewogICJ0eXBlIjogInNlcnZpY2VfYWNjb3VudCIsCiAgInByb2plY3RfaWQiOiAiZmFzdGZvb2QtNDgxMDEyIiwKICAicHJpdmF0ZV9rZXlfaWQiOiAiZDg4YWE0MzQ0OWFhNjMwMDdlZmIyNjRkMDY5MTgzZjczNGZiMDA4MCIsCiAgInByaXZhdGVfa2V5IjogIi0tLS0tQkVHSU4gUFJJVkFURSBLRVktLS0tLVxuTUlJRXZRSUJBREFOQmdrcWhraUc5dzBCQVFFRkFBU0NCS2N3Z2dTakFnRUFBb0lCQVFDeFpIYjVhUWRXYkZSelxuU3E1UXJYQmJKU0I3aDZtaWcwNVg0cnhzbHh4UmFwcVFmTUltTzlTNUhJZStyQzZQbk1aQjk0UVQwcGVPNFB1YlxuaGk3di9sNzFWMis1MS9uVG5vYTdHaEczbDA0QkZzYWNhMXB0QkFMQ1kyTm83M3RnT1NPdHBIK0RQaGFHZTRoelxuWGVHbVNKRkx4eEZIWUZ1Q0FIVUNiWFFYdUJyczE5NWJSN2NVdThTa2dicUlsZjdCdm5NNEo0NklQSmRZaWZIc1xuNmVKc2o3Z2w1ZGZINCtDR0VkaU9va3VuMkZLQXRhNWhrNWkrYTRRQzlqSCtUeUZLNGFxbjFOTXl4Q3dyem4xd1xuTDdHYzl6bTNrMjI5bHBTTHJmQ2ZJUXVaRGplWlZ2b2M4aXF3bjc5L2N2U0pRVHhpbEJBOFFyd1Fiby95RWhqMlxuL2V0bURIeVRBZ01CQUFFQ2dnRUFCR3RTVGgyckRIWWZ3Y3pjZkM5Z215OVk3ZEE2dVBlNGMwRmlIRS9FdnRVcFxudGV2RnZSb1p6enJDRHZmNXprNFkzNlVybElBc2ttZFJ5QUFYR2V6UkJNcFcyRFJraVpIQXlDeDZ3SU56eUFjcFxuNU5VRktGakVrTlIvc2lvMUovZlp4d1pRRkQ3dkQyUHpIdkg1eXlDeVdKeEVTKzQvUkFVcTVSS1dUODVMQXNJYlxuT1NUbHRoVGwwVHZab0RzZU5DcUZQQTVYWG9TWUM1MWhINmwwTmp2WWxzV25DcStDODVMV3B1QkNPdm1kdmJkQlxuTVZvM09HdURhWVJURmdRWnlBU3B3UUhrc01KWnBydE1EajRmN1RrdUhvWUovd2U3bXd2MTFWQ2swME1IZE1GYlxuanVYYW5Wb2hvYkM0US9nZzBqanlMdWlBK1R2MkxBOEJVTVJOTGkrY3dRS0JnUUQ0YTcyVUc1REFRc25mOGpzZFxueVBKRnFCcnJQYzRLZFRMamlKSGRXYUV4ODFaN1lHdHdicTMrdExoRk5Qd0Z6VjNtdXRnbmtPRUNqRVFiOElpc1xuQld3Zk42YTh0Y3NBMCtETGtiajVZemNiTXljSnR6Wm95dmxhVzBHTXVlVzRNa0RqV2JmYndnWlc4Z1ZGZ0RrWFxuSWRZSTViNXVMaXZockE3M3VtTGEvQ0JWNHdLQmdRQzJ6ZmM5S1hpWWxvOHBGQmh1dWNGbWpBb0NtQnJ3eWRIZVxuNEIvTkYvQ3g1bEZuQTNOZlo3UXpldlhmZVVMV2xEN0NPWmFwVVJKUjJDbERYaFJERTd5TzFieUNLS2xZdi8rblxuelRBSGRYbFphbDY0VWNrN0dmQ09IdVgwWVloelQ0c2R1ZWw2QlBUdDIvdFZCNEd5aHB0Q29YYWhCemtOWlJVMVxuSWpnVWhNUjlrUUtCZ0M5NUIyV0NUd3N1dUQxZm9RUjBIamhKZzd0b3VETXZhbVlvOXhjQnhkZ3gxRmtIZUFDb1xuWmYvQ3NXUW9WL0VUNmRucDR0ek14dk1oc3ZKVDZRcFdqdTc0UjVqUWROYlhwcUhBVzBUdFBONnB5OUFEZnhaUFxuazQ4ODJTMzNhSHJtdjVleTBYdmhmQ3lwVzNDSXJHQkxTd2V3UDgvMmF0UlplUkxHUDVYeGtJeFpBb0dBZFZndlxuYmhaeDhGa3RXcXdvcHVNY3I4d1RIT2t3MmdKamN4TWh0dEM0VkNwSmRMdjFVbmZLYUFWMVVWZVF2UmQ2VmNrTFxuMm5KTk5UWngvbW1remc0Y1N3QU91dXFKRW94ayt2MHU2SXJUTTcraFArWllLMVVTWXRpWXVrL2xmRWZDUUhtM1xuMHZqZGxOWlNOcG5UK3BxSGpiVUI1b294YUZUTDBVaS9BUVRjOE5FQ2dZRUE5ZnJ6S1NWMlh4Uk4xZmNtc2xYNVxuZWt6WldNOFRwMHJTdGtQRzF0K1kwcWZkaDdvMWRaaXZ2aDJYUXovSVN2Y3hsdmtjVjNkUUM5TjJidmJlTDk2ZlxuM3doTCswOG5iYTZkeFZFNWRVMjdocTVia2ZldXg3a2JnWHdZY2pvWDV0bVFNa3dGUVdnZm9jRjd6TzUrL3dBcFxuSDloTUx5VmMzRzJZa2YvRlhZazFPZ1k9XG4tLS0tLUVORCBQUklWQVRFIEtFWS0tLS0tXG4iLAogICJjbGllbnRfZW1haWwiOiAic3RyZWVkZm9vZC1ib3Qtc2FAZmFzdGZvb2QtNDgxMDEyLmlhbS5nc2VydmljZWFjY291bnQuY29tIiwKICAiY2xpZW50X2lkIjogIjEwMDE0NDMwNjI5ODQzNzcwMDQ0OCIsCiAgImF1dGhfdXJpIjogImh0dHBzOi8vYWNjb3VudHMuZ29vZ2xlLmNvbS9vL29hdXRoMi9hdXRoIiwKICAidG9rZW5fdXJpIjogImh0dHBzOi8vb2F1dGgyLmdvb2dsZWFwaXMuY29tL3Rva2VuIiwKICAiYXV0aF9wcm92aWRlcl94NTA5X2NlcnRfdXJsIjogImh0dHBzOi8vd3d3Lmdvb2dsZWFwaXMuY29tL29hdXRoMi92MS9jZXJ0cyIsCiAgImNsaWVudF94NTA5X2NlcnRfdXJsIjogImh0dHBzOi8vd3d3Lmdvb2dsZWFwaXMuY29tL3JvYm90L3YxL21ldGFkYXRhL3g1MDkvc3RyZWVkZm9vZC1ib3Qtc2ElNDBmYXN0Zm9vZC00ODEwMTIuaWFtLmdzZXJ2aWNlYWNjb3VudC5jb20iLAogICJ1bml2ZXJzZV9kb21haW4iOiAiZ29vZ2xlYXBpcy5jb20iCn0K

env: []

imagePullSecrets: []

nameOverride: ""
fullnameOverride: ""

serviceAccount:
  create: true
  automount: true
  annotations: {}
  name: ""

podAnnotations: {}
podLabels: {}

podSecurityContext: {}
securityContext: {}

resources:
  limits:
    cpu: 200m
    memory: 256Mi
  requests:
    cpu: 100m
    memory: 128Mi

autoscaling:
  enabled: false

nodeSelector: {}
tolerations: []
affinity: {}

volumes: []
volumeMounts: []

service:
  type: ClusterIP
  port: 80

metrics:
  port: 8000

pod:
  hostNetwork: true
  dnsPolicy: ClusterFirstWithHostNet