# Секреты и credentials
credentials.json
.env
secrets/
*.env

# Python кэш и байткод
__pycache__/
*.py[cod]
*$py.class
*.pyc
*.pyo
*.pyd

# Виртуальные окружения
venv/
env/
.venv/
ENV/

# IDE и редакторы
.idea/
.vscode/
*.sublime-workspace

# ОС и временные файлы
.DS_Store
Thumbs.db

secret-values.yaml