# Secrets and and credentials
credentials.json
.env
secrets/
*.env

# Python cookie and bytecode
__pycache__/
*.py[cod]
*$py.class
*.pyc
*.pyo
*.pyd

# virtual environments
venv/
env/
.venv/
ENV/

# IDE and reductors
.idea/
.vscode/
*.sublime-workspace

# ОС and temporary files
.DS_Store
Thumbs.db

secret-values.yaml